<p>
Admin Dashboard
</p>
<p>
<form action="/admin" method="post">
Add a new user below:
<br>
	Type:
<br>
      <input type="radio" name="user_type" value="Staff" checked> Staff<br>
      <input type="radio" name="user_type" value="Public">Public<br>
<br>
<br>
    <input value="Create User" type="submit" />
</form>

<form action="/clear" method="post">
    <input type="submit" value="Clear All Users" />
</form>

<form action="/log" method="post">
    <input type="submit" value="Download Log File" />
</form>
</p>
</center>
